<div id="modal-switch" class="modal-switch">
    <div class="modal-content-switch">
        {# <span id="close-switch">&times;</span> #}
        <div class="modal-body-switch">
        </div>
        <div class="modal-footer-switch">
            {# <a class="btn btn-primary" href="">VALIDER</a> #}
            <button id="btn-switch" class="btn btn-primary btn-switch ">VALIDER</button>
            <button id="btn-switch-cancel" class="btn btn-danger btn-close-switch btn-switch-cancel">ANNULER</button>
        </div>
    </div>
</div>
