<div id="modal-module" class="modal-module">
    <div class="modal-content-module">
        {# <span id="close-module">&times;</span> #}
        <div class="modal-body-module">
            <p class="question">
                <span class="question1"></span>
                <span class="question2 fw-bold text-uppercase"></span>
                 ?
            </p>
            <p class="para1"></p>
            <p class="para2"></p>
            <p class="para2"></p>
            <p class="para4"></p>
        </div>
        <div class="modal-footer-module d-flex justify-content-center ">
            {# <a class="btn btn-primary" href="">VALIDER</a> #}
            <button id="btn-module" class="btn btn-primary btn-module me-3 ">VALIDER</button>
            <button id="btn-module-cancel" class="btn btn-danger btn-close-module btn-module-cancel">ANNULER</button>
        </div>
    </div>
</div>