{% extends 'base.html.twig' %}

{% block title %}Les stuctures{% endblock %}

{% block PageTitle %}Les stuctures{% endblock %}

{% block body %}
<div>
    <a class="btn btn-primary js-filter" href="{{ path('structures_all') }}">TOUT</a>
    <a class="btn btn-primary js-filter" href="{{ path('structures_activated') }}">ACTIVES</a>
    <a class="btn btn-primary js-filter" href="{{ path('structures_disabled') }}">DESACTIVES</a>
    <a class="btn btn-success" href="{{ path('app_register_structure') }}">Ajouter une structure</a>

</div>

<div id="content" class="row justify-content-center">
    {% include "structure/_content.html.twig" %}
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="">VALIDER</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}