{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<h1>Réinitialisation du mot de passe</h1>
{{ form_start(requestPassForm)}}
    {{ form_row(requestPassForm.email)}}
    <button type="submit" class="btn btn-primary">Envoyer</button>
{{ form_end(requestPassForm)}}

{% endblock %}