{% extends 'base.html.twig' %}

{% block title %}Les partenaires{% endblock %}

{% block PageTitle %}Les partenaires{% endblock %}

{% block body %}
<div>
    <a class="btn btn-primary js-filter" href="{{ path('partners_all') }}">TOUT</a>
    <a class="btn btn-primary js-filter" href="{{ path('partners_activated') }}">ACTIVES</a>
    <a class="btn btn-primary js-filter" href="{{ path('partners_disabled') }}">DESACTIVES</a>


    <a class="btn btn-success" href="{{ path('app_register_partner') }}">Ajouter un partenaire</a>

    <form action="">
        {# <div class="form-group form-group-inline">
            <input class="form-control" type="text" name="q" placeholder="Recherche par nom" value="">
            <button class="btn btn-primary">Rechercher</button>
        </div> #}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recherche par nom" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button class="btn btn-primary js-filter" type="button" id="button-addon2">Rechercher</button>
        </div>
    </form>

    <div id="content" class="row justify-content-center">
        {% include "partner/_content.html.twig" %}
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}