{% extends 'base.html.twig' %}

{% block title %}Les partenaires{% endblock %}

{% block PageTitle %}Les partenaires{% endblock %}

{% block body %}
<div>
    <a class="btn btn-primary js-filter" href="{{ path('partners_all') }}">TOUT</a>
    <a class="btn btn-primary js-filter" href="{{ path('partners_activated') }}">ACTIVES</a>
    <a class="btn btn-primary js-filter" href="{{ path('partners_disabled') }}">DESACTIVES</a>
    

    <a class="btn btn-success" href="{{ path('app_register_partner') }}">Ajouter un partenaire</a>

    <div id="content" class="row justify-content-center">
        {% include "partner/_content.html.twig" %}
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}